logs/
*.pyc
*.pth
*log*.txt
*.png
*.jpg
*.jpeg
.DS_store
.idea
*Zone.Identifier
*.pkl

transformations/vae/latent_diffusion
transformations/vae/taming
transformations/depth/Depth-Anything-V2
transformations/uncon_gen/output
transformations/uncon_gen/fast-DiT
transformations/object_det/detectron2
transformations/semantic_seg/ViT-Adapter